@import url('https://fonts.googleapis.com/css2?family=Merienda:wght@400;700;900&family=Montserrat:wght@300;400;500;700;900&family=Roboto:wght@400;700;900&display=swap');

html {
    scroll-behavior: smooth;

    @media (min-width: 840px){
        hr {
            display: none;
        }
    }
}
img {
    width: 500px;
    height: 500px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


a,
a:visited,
a:active {
    text-decoration: none;
}

body {

    font-family:  'Montserrat', sans-serif;
    background: $white;
}

.container {
    width: 90%;
    height: 100%;
}